.body {
    background-color: #000000;
    }

.heading{
position: absolute;
width: 1046px;
height: 392px;
left: 100px;
top: 130px;
font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 144px;
text-align: center;
}


.startbutton {
    position: relative;
width: 332px;
height: 77px;
left: 380px;
top: 500px;
background: #000000;
border-radius: 15px;
font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 54px;
display: flex;
  justify-content: center;
  align-items: center;
z-index: 1;
color: #FFFFFF;
}

.urlDisplay {
    position: relative;
    word-break: break-all;
width: 332px;
height: 77px;
left: 380px;
top: 500px;
border-radius: 15px;
font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 54px;
display: flex;
  justify-content: center;
  align-items: center;
z-index: 1;
color: #000000;
} 